.container2 {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.movie-cards ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-auto-columns: repeat(2, 400px);
}

.movie-cards ul li {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.movie-info {
  position: absolute;
  opacity: 1;
}

.image::before,
.image::after {
  background: rgba($color: #000000, $alpha: 0.5);
  transition: all .5s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
}

.image:hover::before,
.image:hover::after {
  transform: scale(1);
  opacity: 1;
}

.image:hover .movie-info {
  opacity: 1;
  z-index: 4;
  transition: all .5s ease;
}

.title-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
}

.title-rating p {
  margin-bottom: 0;
  color: white;
}

.overview {
  margin: 5px 20px;

  p {
    color: white;
  }
}

.delete-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 20px;
}

.delete {
  text-decoration: none;
  color: black;
  padding: 10px 0;
  background-color: #fc5000;
  width: 60px;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.add-tag, .reviews {
  border: 1px solid black;
  width: 40%;
  padding: 20px;
}
